<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content="ASP.NET Core Razor Pages, MSSQL Server" />
    <meta name="author" content="D. Dimitrov 2023" />
    <title>@ViewData["Title"] - MOTM</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" type="text/css" />
</head>
    <body>
        <header>
            <nav>
                <a asp-page="/Index">Home</a>
                <a asp-page="/Catalogue" asp-route-Handler="False;False">Catalogue</a>
                <a asp-page="/About">About</a>
                <a asp-page="/Contact">Contact</a>
                @if (SignInManager.IsSignedIn(User))
                {
                    <a asp-page="/Profile/ProfileOverview">Profile</a>
                    <a asp-page="/Profile/LogoutConfirmation">Log Out</a>
                }
                else
                {
                    <a asp-page="/Profile/Signup">Sign Up</a>
                    <a asp-page="/Profile/Login">Log In</a>
                }
            </nav>
        </header>

        <main>
            @RenderBody()
        </main>

        <footer>
            <address>
                <ul>
                    <li>MOTM</li>
                    <li>Heath Business Park</li>
                    <li>RUNCORN</li>
                    <li>WA6 4QZ</li>
                </ul>
            </address>
            <section>
                <h1>Cookies:</h1>
                <p>This website makes use of cookies.<br />
                These cookies are exclusively needed for authentication.</p>
            </section>
        </footer>
    </body>
</html>