@page
@model MOTM.Pages.Profile.AccessDeniedModel
@{
    ViewData["Title"] = "Access Denied";
}

<h1>Access Denied: You're not supposed to be here.</h1>

<samp>
    Cleverly done, Mr. Freeman.<br />
    But you're not supposed to be here.<br />
    As a matter of fact, <a href="https://youtu.be/stqDYIniS0w?t=51">you're not.</a><br />
    Get back where you belong and forget about all this.<br />
    Until we meet again.
</samp>