@page
@model MOTM.Pages.ContactModel
@{
    ViewData["Title"] = "Contact Us";
}
<section>
    <h1>Getting in Touch</h1>
    <p>We're always eager to answer any questions or resolve any queries - we can be reached:</p>
    <address>
        <dl>
            <dt>By E-Mail:</dt>
            <dd><a href="mailto:Admin@MOTM.co.uk">Admin@MOTM.co.uk</a></dd>
            <dt>By Phone:</dt>
            <dd><a href="tel:+440123456789">+44 012 3456 789</a></dd>
            <dt>By Mail:</dt>
            <dd>
                <ul>
                    <li>MOTM</li>
                    <li>Heath Business Park</li>
                    <li>RUNCORN</li>
                    <li>WA6 4QZ</li>
                </ul>
            </dd>
        </dl>
    </address>
</section>